<p id="notice"><%= notice %></p>

<h1>Ideas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3">Buttons</th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= image_tag(idea.picture_url, width: 100) if idea.picture.present? %></td>
        <td><%= button_to 'Show', idea, method:  :get, class: 'btn btn-primary' %></td>
        <td><%= button_to 'Edit', edit_idea_path(idea), method:  :get, class: 'btn btn-info' %></td>
        <td><%= link_to idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>

            <span class="glyphicon glyphicon-trash"></span>
            <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Idea', new_idea_path, method:  :get, class: 'btn btn-large btn-success'  %>
